# .github/workflows/go-ci.yml
name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request: # This ensures Dependabot PRs are tested
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24' # Specify your Go version

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
